name: Publish to SNAPSHOT repository

on:
  push:
    branches:
      - "**"

jobs:
  publish:
    runs-on: ubuntu-latest

    env:
      RTAST_PUBLISH_PASSWORD: ${{ secrets.RTAST_PUBLISH_PASSWORD }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Publish to RTAST-SNAPSHOTS
        run: ./gradlew publishAllPublicationsToRTAST-SNAPSHOTSRepository --no-daemon
